.user{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
img{
    width: 30px;
    height: 30px;
}
table{
    text-align: center;
}

::-webkit-scrollbar{
    width: 2em;
}

::-webkit-scrollbar-track{
    background: #ad8a20;
}
::-webkit-scrollbar-thumb{
    /*background: linear-gradient(#198754,#8b6e17,#ffc107,#198754);*/
    background: #ffc107;
    border: 3px solid #ad8a20;
    border-radius: 20px;
}